body, html {
  height: 100%;
  font-family: "Roboto", sans-serif;
  scroll-behavior: smooth
}

.bgimg {
  background-position: center;
  background-size: cover;
  background-image: url("title.jpg");
  min-height: 75%;

}

.menu {
  display: none;
}

.w3-leftbar{
  border-left:6px solid #00f;
  background-color: #e9cbfb;
}

.w3-rightbar{
  border-right:6px solid #cfde26;
  background-color: #ff0;
}
